
.thebelab-cell {
  position: relative;
}

.thebelab-input {
  border: 1px solid #aaa;
}

.thebelab-button-group {
  position: absolute;
  right: 0px;
  z-index: 3;
}

.CodeMirror-scroll {
  height: auto;
}

/* no prompts */
.jp-OutputPrompt {
  display: none;
}
