/* TODO: move to thebelab.js */
/*
.input_area {
  position: relative;
}

.thebelab-button-group {
  position: absolute;
  right: 0px;
  z-index: 3;
}
*/

button.thebelab-run-button:after{
  content: "\25B6";
  font-weight: 900;
  color: green;
}

button.thebelab-restart-button:after{
  content: "\21a9";
  font-weight: 900;
  color: green;
}

.CodeMirror {
  height: auto;
}
