
.input_area {
  position: relative;
}

/* .thebelab-input {
  border: 1px solid #aaa;
} */

.thebelab-button-group {
  position: absolute;
  right: 0px;
  z-index: 3;
}

.CodeMirror-scroll {
  height: auto;
}

/* no prompts */
/* .jp-OutputPrompt {
  display: none;
} */

/* unset background color of the output area */
.jp-OutputArea-output,
.jp-OutputArea-output > pre {
    /* border: none; */
    background-color: transparent; /* why 'transparent' doesn't work ?! */
}
